<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <title>Home</title>
</head>

<body class="home">
    <header>
        <div class="logo-search">
            <!--logo-->
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <!--buscador-->
            <div class="buscar">
                <form action="">
                    <input type="text" class="buscar_texto" placeholder="Buscar productos, marcas">
                    <button> <i class="fas fa-search"></i></button>
                </form>
            </div>
            <!--compra en cuotas-->

            <p class="compra"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
            <p>
        </div>
        <nav>
            <ul>
                <li> <a href="">Ofertas</a></li>
                <li> <a href="">Tiendas Oficiales</a></li>
                <li> <a href="">Vender</a></li>
                <li> <a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li> <a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="btn-burger"><i class="fas fa-bars"></i></div>


    </header>
    <div class="banner"><img src="/images/img-home-banner.jpg" width=100%></div>
    <main class="productos">
        <!--Basado en ultima visita-->
        <section class="ultima-visita">

            <h4 class=titulares>Basado en tu ultima visita</h4>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="imagen">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex </p>

                </div>
            </article>

            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019 </p>

                </div>
            </article>

            <article>
                <div><img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10 </p>

                </div>
            </article>
            <article>
                <div><img src="/images/img-tv-samsung-smart.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43" </p>

                </div>
            </article>



        </section>
        <section class="ofertas">
            <h4 class="titulares">Seccion de ofertas</h4>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$6.770</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p class="descripcion">Cafetera Moulinex </p>

                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$230.000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p class="descripcion">MacBook Pro 2019 </p>

                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p class="descripcion">Samsung Galaxy S10 </p>

                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen" width="100%">
                </div>
                <div class="datos">
                    <i class="fas fa-truck"></i>
                    <div class="caja-precios">
                        <p class="precios">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p class="descripcion">SmartTv Samsung 43" </p>

                </div>
            </article>

        </section>

    </main>

    <footer>
        <!--Pago con tarjeta-->
        <div>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div> <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div><i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.

        </div>
        <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
</body>

</html>