*{font-family: "Roboto";
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-size: 12px;
    background-color: var(--colorGrisclaro);
}
a{
    text-decoration: none;
}
li{
   list-style: none; 
}
:root{
    --colorAmarillo: #EAC926;
--colorAzul: #03264C;
--colorCeleste: #1259c3;
--colorGrisoscuro: #666;
--colorGrisclaro: #ebebeb;
--colorVerde: #39b54a;
}
input, button{ 
    padding:10px;
    border:none;
    border-radius: 5px;
   
}
button:hover{
    cursor: pointer;
}
.btn-verde{
background-color: var(--colorVerde);
}
.btn-rojo{
    background-color: red;
}