.home {
  font-family: 'roboto' ;
  
}
.home main{
  width:90%;
  margin:0 auto;
}
main section .banner{
    width: 100%;
    
}
.home main section {
  text-align: center;
  background-color: var(--colorGrisclaro);
  padding-bottom: 10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home main section h4.titulares{
  text-align: left;
  font-size: 24px;
  width:100%;
  color:var(--colorGrisoscuro);
}
/*tarjeta producto*/
.home main section article {
  margin: 10px 0;
  background-color: white;
}
/*contenedor datos*/
.home main.productos article .datos{
  border-top:solid 1px var(--colorGrisclaro);
  padding: 15px;
  position:relative;
  text-align: left;
}

.home main section article .datos i {

  color: var(--colorVerde);
  border:1px solid var(--colorVerde);
  border-radius:50%;
  padding: 5px;
  
  font-size:16px;
  
  width:30px;
 
  background-color: white;
  display:block;
  position: absolute;
  right:20px;
  top: -15px;
}
.home main article .datos .caja-precios{
  display: flex;
  justify-content: center;
}
/*precio*/
.home main article .datos .precios{
  font-size: 18px;
  flex-grow: 0.3;
}
/*descuento*/
.home main article .datos .descuento{
  font-size:16px;
  color:var(--colorVerde);
  flex-grow: 0.7;
}
/*descripcion*/
.home main article .datos .descripcion {
  display: none;
  color: var(--colorGrisoscuro);
  padding-top: 25px;
  
}




@media (min-width: 768px) {
  .home main section article {
  width:40%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }
.home main section article .datos .descripcion {
    display:block;
  }
}
@media (min-width: 1024px) {
  .home main section article{
    width:15%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100)
  }
  .home main section article .datos .descripcion{
    width:15%;
    
  }
}
